<%- include('../header', {title: 'Success | IMA Vaccine'}) %> 
<main>
    <h3 class = "heading center-align">Your payment was successful!</h3>
    <br>
    <div class="container">
        <div class="container">
            <table class="striped responsive-table">
                <tr>
                    <td><strong>Name</strong></td>
                    <td class = "right-align"><%=user.name%></td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td class = "right-align"><%=user.email%></td>
                </tr>
                <tr>
                    <td><strong>Date of appointment</strong></td>
                    <td class = "right-align"><%=user.date.toDateString()%></td>
                </tr>
                <tr>
                    <td><strong>Time of Appointment</strong></td>
                    <td class = "right-align" id = "usertime"><%=user.time%></td>
                </tr>
                <tr>
                    <td><strong>Place of appointment</strong></td>
                    <td class = "right-align">Selangor, Petaling Jaya, IMA Clinic</td>
                </tr>
                <tr>
                    <td><strong>Number of vaccines: </strong></td>
                    <td class = "right-align"><%= user.number %></td>
                </tr>
                <tr>
                    <td><strong>Number of vaccines: </strong></td>
                    <td class = "right-align" id = "totalpayed">$50</td>
                </tr>
                <tr>
                    <td><strong>Payer ID: </strong></td>
                    <td class = "right-align"><%= payment.payerId %></td>
                </tr>
                <tr>
                    <td><strong>Payment Date </strong></td>
                    <td class = "right-align"><%= payment.paymentId %></td>
                </tr>
                <tr>
                    <td><strong>Payment Date: </strong></td>
                    <td class = "right-align" id = "today"><%= payment.paymentId %> </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 30px;" class="row">
            <div class="left-align">
                <p>Copy of payment slip should be sent at your email at <strong><%= user.email %></strong> </p>
            </div>
        </div>
    </div>

</main>
<%- include('../footer') %> 
    <script>
        const totalpayed = parseInt('<%=user.number%>') * 50;
        document.getElementById('totalpayed').innerHTML = `$${totalpayed}`;

        const today = new Date();
        document.getElementById('today').innerHTML = `${today}`;

        //changing 19:30 to 7:30 PM
        const userTime = `<%= user.time %>`;
        let identifier;
        let hour = parseInt(userTime.slice(0,2));
        let minutes = userTime.slice(3,5);
        if(hour>12){
            hour -=12;
            identifier = `PM`;
        }else if(hour = 12){
            identifier = `PM`;
        }else{
            identifier = 'AM';
        }

        document.getElementById('usertime').innerHTML = `${hour}:${minutes} ${identifier}`;

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
