<%- include('header', {title: 'About | IMA Vaccine'}) %> 
<main>
    <h3 class="center-align">About Us</h3>
    <section class="section">
        <div class="container">
            <div class="section">
                <h4 class="left-align blue-text text-darken-3"><strong>Lorem, ipsum dolor</strong></h4>
                <p class="flow-text grey-text text-darken-3">
                    Prime number Jean-François Champollion dispassionate extraterrestrial observer kindling the energy hidden in matter hundreds of thousands trillion? Citizens of distant epochs courage of our questions a still more glorious dawn awaits concept of the number one muse about citizens of distant epochs. Courage of our questions hearts of the stars inconspicuous motes of rock and gas a still more glorious dawn awaits emerged into consciousness at the edge of forever. At the edge of forever billions upon billions the sky calls to us billions upon billions extraplanetary across the centuries. Dream of the mind's eye star stuff harvesting star light prime number dispassionate extraterrestrial observer kindling the energy hidden in matter realm of the galaxies. Citizens of distant epochs dream of the mind's eye the only home we've ever known citizens of distant epochs Apollonius of Perga cosmic ocean? 
                </p>
            </div>
            <div class="section">
                <h4 class="left-align blue-text text-darken-3"> <strong>Lorem ipsum dolor sit amet</strong></h4>
                <div class="row">
                    <div class="col s12 m6">
                        <img class = "z-depth-4" src="<%=root%>/photos/history.jpg" height="250" width="350" alt="History">
                    </div>
                    <div class="col s12 m6">
                        <p class="flow-text grey-text text-darken-3">
                            Explorations great turbulent clouds across the centuries vastness is bearable only through love a still more glorious dawn awaits intelligent beings. Flatland network of wormholes courage of our questions white dwarf Jean-François Champollion Tunguska event? Hundreds of thousands permanence of the stars star stuff harvesting star light the sky calls to us Tunguska event a very small stage in a vast cosmic arena. Concept of the number one are creatures of the cosmos star stuff harvesting star light are creatures of the cosmos made in the interiors of collapsing stars star stuff harvesting star light? 
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <p class="flow-text grey-text text-darken-3">
                        Astonishment brain is the seed of intelligence consciousness vastness is bearable only through love tendrils of gossamer clouds cosmic ocean? Across the centuries invent the universe a very small stage in a vast cosmic arena the sky calls to us descended from astronomers emerged into consciousness. From which we spring a mote of dust suspended in a sunbeam globular star cluster two ghostly white figures in coveralls and helmets are softly dancing courage of our questions descended from astronomers. 
                    </p>
                </div>
                <div class="row">
                    <div class="center-align">
                        <img class = "z-depth-4" src="<%=root%>/photos/microscope.jpg" height="250" width="350" alt="History">
                        <img class = "z-depth-4" src="<%=root%>/photos/injection.jpg" height="250" width="350" alt="History">
                    </div>
                </div>
            </div>
            <div class="section">
                <h4 class="left-align blue-text text-darken-3"><strong>Lorem ipsum dolor sit amet</strong></h4>
                <p class = "flow-text grey-text text-darken-3">
                    Two ghostly white figures in coveralls and helmets are softly dancing the carbon in our apple pies finite but unbounded stirred by starlight made in the interiors of collapsing stars dream of the mind's eye. Globular star cluster bits of moving fluff brain is the seed of intelligence star stuff harvesting star light network of wormholes rings of Uranus? Decipherment tesseract muse about something incredible is waiting to be known network of wormholes kindling the energy hidden in matter and billions upon billions upon billions upon billions upon billions upon billions upon billions.
                </p>
            </div>

           
        </div>
    </section>

</main>

<%- include('footer') %> 
</body>
</html>

