<%- include('header', {title: 'About || IMA Vaccine'}) %> 
<main>
    <h3 class="center-align">About Us</h3>
    <section class="section">
        <div class="container">
            <div class="section">
                <h4 class="left-align blue-text text-darken-3"><strong>Lorem, ipsum dolor</strong></h4>
                <p class="flow-text grey-text text-darken-3">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quas sapiente eligendi corrupti eaque vero ullam sint laborum excepturi voluptates distinctio minus maiores, iusto cumque ipsa sed a reiciendis nam aut ipsum facere quos debitis error blanditiis. Quas provident voluptas reiciendis obcaecati incidunt excepturi quibusdam nesciunt doloribus non beatae voluptatibus nemo repellendus, dolor sit iure corrupti aspernatur ducimus ab optio a illo fuga quia facere at! Laudantium exercitationem quis, ipsum tempore adipisci labore ullam eius nobis unde, inventore reiciendis sapiente id provident iure iste minus vitae repellendus reprehenderit ea? Quia, ducimus aliquam eius quasi esse rem consectetur facilis. Quae, ullam.
                </p>
            </div>
            <div class="section">
                <h4 class="left-align blue-text text-darken-3"> <strong>Lorem ipsum dolor sit amet</strong></h4>
                <div class="row">
                    <div class="col s12 m6">
                        <img class = "z-depth-4" src="<%=root%>/photos/history.jpg" height="250" width="350" alt="History">
                    </div>
                    <div class="col s12 m6">
                        <p class="flow-text grey-text text-darken-3">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam voluptatem, ipsa eveniet repellat eaque consequuntur eos quisquam, voluptas aperiam perferendis mollitia. Corporis magnam officiis expedita enim quae rerum fugiat veritatis ducimus fugit vitae. Ad atque error suscipit, hic eligendi totam laudantium, aliquid aut incidunt tempora enim dicta ullam numquam veniam, possimus porro quaerat ut in earum consequatur accusamus? Harum, ullam.
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <p class="flow-text grey-text text-darken-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae nulla quidem deleniti dolorem, ut possimus deserunt tenetur quo voluptate odit mollitia nobis vero laudantium ad consequatur delectus quod similique voluptates. A reiciendis cum, nostrum repellendus eius et cumque odio quas voluptate sit, mollitia in itaque? Consectetur doloremque nisi pariatur tenetur delectus, corrupti obcaecati nemo perferendis laborum reiciendis temporibus odit, velit tempora minima eum sint voluptate aliquam totam sed est rem asperiores vero vitae aspernatur? Aperiam quas pariatur dolor molestiae.
                    </p>
                </div>
                <div class="row">
                    <div class="center-align">
                        <img class = "z-depth-4" src="<%=root%>/photos/microscope.jpg" height="250" width="350" alt="History">
                        <img class = "z-depth-4" src="<%=root%>/photos/injection.jpg" height="250" width="350" alt="History">
                    </div>
                </div>
            </div>
            <div class="section">
                <h4 class="left-align blue-text text-darken-3"><strong>Lorem ipsum dolor sit amet</strong></h4>
                <p class = "flow-text grey-text text-darken-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non cum quo eaque aspernatur quam et sit hic corrupti perferendis culpa vel possimus voluptatem esse accusantium in accusamus magni obcaecati ipsa, unde illo eligendi dolorum? Fugiat nobis numquam ut impedit ad ipsam, natus similique animi provident tenetur, nihil, excepturi vitae!
                </p>
            </div>

           
        </div>
    </section>

</main>

<%- include('footer') %> 
</body>
</html>

