<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Successful Payment</title>
    <style>
        body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <h1 class = "heading center-align">Your payment was successful!</h1>
    <h3 class = "heading center-align">Grab your payment slip!</h3>
    <br>
    <div class="container">
        <p><strong>Name:</strong> <%= user.name %> </p>
        <p><strong>Email:</strong> <%= user.email %> </p>
        <p><strong>Date of appointment:</strong> <%= user.date %> </p>
        <p><strong>Time of appointment:</strong> <%= user.time %> </p>
        <p><strong>Number of vaccines bought:</strong> <%= user.number %> </p>
        <p id = "totalpayed"><strong>Overall payed:</strong> $50 </p>
        <p><strong>Payer ID:</strong> <%= payment.payerId %> </p>
        <p><strong>Payment ID:</strong> <%= payment.paymentId %> </p>
    <br>
    <p>Copy of transcript should be sent at your email at <em><%= user.email %></em> </p>
    </div>
    
    
    <script>
        const totalpayed = parseInt('<%=user.number%>') * 50; 
        document.getElementById('totalpayed').innerHTML = `<em>Total payed:</em> $${totalpayed}`;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>