<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Failed Payment</title>
</head>
<body>
    <div class="container">
        <h1>Payment Failed!</h1>
        <p><strong>Name:</strong> <%= user.name %> </p>
        <p><strong>Email:</strong> <%= user.email %> </p>
        <p><strong>Date of appointment:</strong> <%= user.date.toDateString() %> </p>
        <p id = "usertime"><strong>Time of appointment:</strong> <%= user.time %> </p>
        <p><strong>Number of vaccines:</strong> <%= user.number %> </p>
        <p id = "totalpayed"><strong>Wanted to pay:</strong> $50 </p>
        <br>
        <p>We are sorry that the payment failed. There should be something wrong with paypal API. Please try again later.</p>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
